<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Cuatro-en-linea </h1>
                <p>El siguiente trabajo lo realice en  grupo de con otras 3 personas para la AYP1 en Untref.

                    Se provee un conjunto de pruebas unitarias. Cada grupo puede agregar otras clases de pruebas que agreguen más cobertura a otros casos que consideren necesarios, pero bajo ningún concepto pueden alterar la batería de pruebas provistas por los docentes.
                    
                    No es posible cambiar la interfaz de la clase CuatroEnLinea, ya sea modificando el nombre de los métodos, los parámetros, los tipos de retorno o agregando nuevos métodos públicos.
                    
                    En la clase CuatroEnLinea se pueden incluir métodos privados y atributos.
                    
                    Tampoco es posible cambiar la definición del enumerado Casillero.
                    
                    Se pueden crear nuevas clases para modularizar la solución.
                    
                    Se pueden modificar las clases Aplicacion, Tablero, IniciarJuego, SoltarFicha y MostrarError para personalizar la interfaz gráfica.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/pantalla-tablero.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
